[submodule "Drogon/external/libbcrypt"]
	path = Drogon/external/libbcrypt
	url = https://github.com/trusch/libbcrypt.git
[submodule "RoboEditor/external/jsoncpp"]
	path = RoboEditor/external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "RoboEditor/external/libbcrypt"]
	path = RoboEditor/external/libbcrypt
	url = https://github.com/trusch/libbcrypt.git
[submodule "Drogon/external/tree-sitter"]
	path = Drogon/external/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "Drogon/external/tree-sitter-python"]
	path = Drogon/external/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
